html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	background: #fafafa;
	color: rgb(10, 10, 10);
}

#wrapper {
	margin: 60px;
	max-width: 540px;
	width: 90%;
}




